.front-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #DAE5F5; 
    color: #000000;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    position: relative; 
}

.front-image {
    width: 300px; 
    height: auto;
    margin-bottom: 20px; 
}



h1 {
    font-size: 1.5rem;
    margin-bottom: 20px; 
    font-weight: 700;
}

p {
    font-size: 1.2rem; 
    margin: 10px 0; 
    font-weight: 500;
}

.encrypted-text {
    display: flex;
    align-items: center; 
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
}

.lock-icon {
    margin-right: 5px;  
    width: 20px; 
    height: auto;
}
