body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  .app-container {
    display: flex;
    height: 100vh;
    background-color: #DAE5F5;
  }
  .sidebar {
    width: 20%;
    background-color: whitesmoke;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    overflow-y: auto; 
  }
  .sidebar h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    flex-grow: 1;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .sidebar li {
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .sidebar li.selected {
    background-color: #DAE5F5; 
    color: #001F8B; 
  }
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #128c7e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
  }
  .chat-window {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
    padding: 0;
    color: black;
    background-color: #DCE7F7;
  }
  .chat-header {
    padding: 5px 20px; 
    line-height: normal; 
    color: white;
    font-size: 1.2rem;
    background-color: #001F8B;
    height: 8vh; 
    display: flex; 
    align-items: center; 
  }
  .chat-header .icon {
    width: 2.2em;
    height: 2.2em;
    font-size: 1.2rem;
  }
  .chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  .chat-message {
    background-color: #f0f0f0;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
    align-self: flex-start;
    max-width: 100%;
    word-wrap: break-word;
    align-self: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .message-input {
    display: flex;
    padding: 20px;
    border-top: 1px solid #ccc;
    background-color: #001F8B; 
color: white;
  }
  .message-input input {
    flex: 1;
    padding: 10px;
    height: 15vh;
    border-radius: 9px;
    border: none;
    margin-right: 10px;
    background-color: #f0f0f0;
  }
  .message-input button {
    padding: 10px 20px;
    border-radius: 5%;
    border: none;
    background-color: #128c7e;
    color: white;
    cursor: pointer;
  }
  .message-input button:hover {
    background-color: #075e54;
  }
  .add-group-btn {
    background-color: #16008B;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2.4rem;
    font-weight: 500;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 77%;
    cursor: pointer;
    position: sticky;
    bottom: 20px;
  }
  .add-group-btn:hover {
    background-color: #0a0064;
  }
  .modal h3 {
    text-align: left; 
    color: black;
  }
  .center-button {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }
  .modal button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #16008B;
    color: white;
    cursor: pointer;
  }
  .modal {
    display: flex;
    justify-content: center;  
    align-items: center;      
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  .modal label {
    width: 40%;
    color: black;
    margin-right: 20px;
  }
  .modal input {
    width: calc(100% - 100px);
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 40px;
    border: 1px solid #ccc;
    display: inline-block;
  }
  .modal button:hover {
    background-color: #0a0064;
  }
  .flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .color-options {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .color-option {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
  }
  